<div class="container">
  <header role="banner">
    <span><a href="#" itemprop="url">Thoughts Expressed</a></span><br />
    <em>I think then I write -- or maybe it's the other way around.</em>
  </header>

  <div role="main" class="col-md-8">
    <!--<blog-body></blog-body>-->
  </div>

  <aside role="complementary" class="col-md-3 col-md-offset-1 small">

    <section>
      <img src="/img/abel300x300.png" alt="Abel Gaxiola" />
      <h3>About me</h3>
      <p>
        Interested in technology, internet, mobile, software and web development. Other interests: family, exercise, news, learning,
        community, sharing, and the beach.
      </p>
    </section>

    <section>
      <h3>Categories</h3>
      <ul>
        <li>Categories</li>
      </ul>
    </section>

    <section>
      <h3>Other stuff</h3>
      <ul>
        <li><a href="http://gaxiola.info/">Gaxiola.info</a></li>
        <li><a href="http://abelynoelia.com/">AbelyNoelia.com</a></li>
        <li><a href="http://abelgaxiola.github.io/">abelgaxiola.github.com</a></li>
      </ul>
    </section>
  </aside>
</div>

<footer class="text-center" role="contentinfo" itemscope itemtype="http://schema.org/Person" itemprop="author">
  <span>
    Copyright &copy; {{ date }}
    <a href="http://abelgaxiola.com" itemprop="url name">Abel Gaxiola</a>
  </span>
</footer>
